//  Variables



$color-dark: #2d2d2c;
$color-dark-light: #505050;
$color-gray-dark: #3e4246;
$color-gray: #666e77;
$color-gray-middle: #8e8e8e;
$color-gray-light: #b4b4b4;


$header-color:  		 $color-gray;
$benefits-text-color:	 $color-gray-dark;
$footer-bg:				 $color-dark;
$footer-heading:		 $color-gray-light;	
$footer-phone:		     $color-gray-middle;	
$copiright-color: 		 $color-dark-light;


//  Fonts

$primary_font: 'Open Sans', sans-serif;




