html {font-size: 62.5%;}
body {font-family: $primary_font;}
body, html {
  height: 100%;
  margin: 0;
 
}


.wrapper {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  background-image: url(../img/wrapper.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.box {
  height: 33rem; 
  width: 100%;
  background: linear-gradient(to right, #00a0de 0%, #00a0de 50%, #1390c1 50%,#1390c1 100%);
  background-size: cover;
  position: absolute; 
}

.clipPolygon {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}



.header__navigation {
   width: 65%;
   display: flex;
   justify-content: space-around;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
     
}

.header__navigation-link {
    display: inline-block;
    font-size: 2.1rem;
    padding: 0.3em 0;
    width: 20%;
    border: 0.05em solid #fff; 
    border-top: none;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

.logo img {
    @extend %ham;
    top: 15rem;
    z-index: 2;
}
























