
.main {

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 65rem;
}


.swiper-container {

    width: 65%;
    height: 20rem;
    position: relative;
}

 
.swiper-slide img{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%),  rotateY(0);
  cursor: pointer;
  transition: all 0.2s linear;
 animation: colorRotate 5s linear infinite;

}



@keyframes colorRotate {
  100% {
    -webkit-filter: hue-rotate(360deg);

  }
}

